<header class="sticky-header p-5"> 
    <app-web-header></app-web-header>
    <!-- <div class="container-fluid d-flex align-items-center">
        <div class="logo mr-5">
            <a href="#">
                <img src="../../../assets/media/logos/logo-dark.png" class="w-250px" alt="traveloguepk-logo">
            </a>
        </div>
        <nav class="ml-5 align-self-end">
            <a href="#" class="mx-5 text-decoration-none active">Home</a>
            <a href="#" class="mx-5 text-decoration-none">About Us</a>
            <a href="#" class="mx-5 text-decoration-none">Categories</a>
            <a href="#" class="mx-5 text-decoration-none">Contact Us</a>
        </nav>
    </div> -->
</header>
 <main class="mt-0">
    <section class="sec-01">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="sld-caps">
                        <h1>
                            Where All the Stories From Your Travels Find Their Home.
                        </h1>
                        <p>
                            Welcome to WanderAway, a theme specifically made for sharing all your travel adventures with your reading audience!
                        </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12"></div>
            </div>
        </div>
    </section>

    <section class="sec-02">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <div class="sld-caps">
                        <h1>
                            We are professional Planner for your travel
                        </h1>
                        <p>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                        <ul class="sec2-list">
                            <li>
                                <div class="d-flex align-items-center">
                                    <img src="../../../assets/media/misc/sec2-icon1.png" alt="sec2-icon">
                                    <div>
                                        <h3>Repeat predefined chunks as necessary.</h3>
                                        <p class="m-0">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <img src="../../../assets/media/misc/sec2-icon2.png" alt="sec2-icon">
                                    <div>
                                        <h3>Repeat predefined chunks as necessary.</h3>
                                        <p class="m-0">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#">Explore Plans</a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-5 col-sm-12">
                    <img src="../../../assets/media/misc/sec2-right.png" class="w-100" alt="sec2-right">
                </div>
            </div>
        </div>
    </section>
</main> 